@model IEnumerable<Application.Entities.Logger>

@{
    ViewBag.Title = "LoggeDetails";
}

<h2>LoggeDetails</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LogID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ActionName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ControllerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LogDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExceptionDetails)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.LogID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ActionName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ControllerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LogDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExceptionDetails)
        </td>
        
    </tr>
}

</table>
